<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/plugins/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/jquery.justifiedGallery.min.js"></script>
    <script src="/assets/plugins/jquery.magnific-popup.min.js"></script>
    <script src="/assets/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/plugins/jquery.isotope.min.js"></script>
    <script src="/assets/plugins/masonry.pkgd.min.js"></script>
    <script src="/assets/js/navigation.js"></script>
    <script src="/assets/js/skip-link-focus-fix.js"></script>
    <script src="/assets/js/newsletter-subscribe.js"></script>
    <script src="/assets/js/script.js"></script>

    <script src="/assets/plugins/gmap3.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtR223ih2ZwVJX2SGBixD3p87Aa8RV2Is"></script>
    <script src="/assets/js/map.js"></script>
  </body>

</html>
